@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: ;
    src: url();
  } */

  /* Menghilangkan arrow pada input number */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  h1 {
    font-family: Poppins;
    font-weight: 700;
    color: #212121;
  }
  h2 {
    font-family: Poppins;
    font-weight:600;
    color: #212121;
  }
  h3 {
    font-family: Poppins;
    font-weight: 600;
    color: #212121;
  }
  h4 {
    font-family: Poppins;
    font-weight: 600;
    color: #212121;
  }
  h5 {
    font-family: Poppins;
    font-weight: 600;
    color: #212121;
  }
  h6 {
    font-family: Poppins;
    font-weight: 600;
    color: #212121;
  }

  html {
    font-family: DM Sans, sans-serif;
  }
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #DC2626;
    border-radius: 100vh; 
  }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFFDF3;
  box-sizing: border-box;
}
